# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\4399外挂\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
